@model GameModel


<h1>Search Results:</h1>
<table border="1" style="border-collapse: collapse; width: 100%; height: 105px;">
    <thead>
        <tr style="height: 21px;">
            <th style="width: 10%; height: 21px;">ID</th>
            <th style="width: 10%; height: 21px;">Title</th>
            <th style="width: 10%; height: 21px;">Genre</th>
            <th style="width: 10%; height: 21px;">ESRB</th>
            <th style="width: 10%; height: 21px;">Edit</th>
            <th style="width: 10%; height: 21px;">Remove</th>

    </thead>
    <tbody>
        @foreach (var game in ViewBag.games)
        {
            <tr style="height: 21px;">
                <th style="width: 10%; height: 21px;">@game.GameId</th>
                <td style="width: 10%; height: 21px;">@game.Title</td>
                <td style="width: 10%; height: 21px;">@game.Genre</td>
                <td style="width: 10%; height: 21px;">@game.EsrbRating</td>
                <td style="width: 10%; height: 21px;"><a asp-controller="GameLibrary" asp-action="Edit" asp-route-id="@game.GameId">Edit</a></td>
                <td style="width: 10%; height: 21px;"><a asp-controller="GameLibrary" asp-action="Remove" asp-route-id="@game.GameId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="nav-link" asp-controller="GameLibrary" asp-action="LibraryIndex"> Back to The Library</a>
